body {
  background-color: #000;
  color: #fff;
  padding-top: 5rem;
}

header {
  background-color: #333;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-item {
  font-size: 22px !important;
  text-transform: uppercase;
}

.nav-link {
  color: rgb(255, 0, 0);
}

.container {
  margin-top: 5rem;
}

.table {
  background-color: #333;
  color: #fff;
}

.table th,
.table td {
  border-color: #fff;
}

.table th {
  border-bottom-width: 2px;
}