/* Stile per il corpo della pagina */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Stile per l'header */
header {
    background-color: #333;
    padding: 20px 40px;
}

header img {
    margin-right: 20px;
}

.nav-item {
    margin-right: 20px;
}

/* Stile per i link della navbar */
.nav-link {
    color: #f00 !important;
    font-weight: bold;
}

/* Stile per i titoli delle notizie */
.news-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.news-item h2 a {
    color: #f00;
    text-decoration: none;
}

.news-item h2 a:hover {
    text-decoration: underline;
}

.nav-link {
    color: rgb(255, 0, 0) !important;
}

/* Stile per le descrizioni delle notizie */
.news-item p {
    color: #ccc;
}